
@font-face {
  font-family: 'Digital-7MonoItalic';
  src: url('../fonts/Digital-7MonoItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Digital-7MonoItalic.woff') format('woff'), url('../fonts/Digital-7MonoItalic.ttf')  format('truetype'), url('../fonts/Digital-7MonoItalic.svg#Digital-7MonoItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
